<div class="introduction">
	<h2>Gaming is </h2>
	<p>Life.</p>
</div>
<hr>
<div class="story1">
	<p>Over the years, Forgotten Realms and gaming have 
	taken me over the world and made me all sorts of new friends.
	</p>
	<p>By: Ed Greenwood</p>
</div>
<hr>
<div class="story2">
	<p>My mom didn't let me play video games growing up,
	so now I do. Gaming gives me a chance to just let go, 
	blow somebody up and fight aomebody from another
	dimension. It's all escapism.
	</p>
	<p>By: Wayne Brady</p>
</div>
<hr>
<div class="story3">
	<p>A goal of Twitch is to be wherever gamers are, whether
	 it's on laptops and handheld devices or integrated into
	 gaming consiles and software.
	</p>
	<p>By: Emmet Shear</p>
</div>
<hr>
<div class="story4">
	<p>To me gaming is what I love. It is not to forget, but 
	rather understand how precious the time can be.
	</p>
	<p>By: Jigmey Dorjee</p>
</div>
<hr>
<div class="story5">
	<p>For me, the cool thing is doing things that could only be done in gaming. 
	</p>
	<p>By: Warren Spector</p>
</div>